:root {
    /* Color Palette */
    --palette-foreground: #e0e0e0;
    --palette-background: #121212;
    --palette-separator-label: #555555;
    --palette-separator-line: #333333;
    --palette-searchbar: #222277;
    --palette-searchbar-label: #6666FF;
    --palette-urlbar: #225522;
    --palette-urlbar-label: #66BB66;
    --palette-selector: #e0e0e0;
    --palette-filterbar: #333333;
    --palette-hoverback: #333333;
    --palette-dimmed: #333333;
    --palette-dialog: #444444;
    --palette-editmode: #FFA500;
    --palette-editmode-selected: #ffbb3d;
}

body {
    background-color: var(--palette-background);
    color: var(--palette-foreground);
    font-family: monospace;
    font-size: 16pt;
}

.prompt {
    position: fixed;
    bottom: 0px;
    left: 0;
    right: 0;
    padding: 8px 0px;
    background-color: var(--palette-filterbar);
    color: var(--palette-foreground);
    text-align: center;
    z-index: 0;
    visibility: hidden;
    align-items: center;
    justify-content: center;
    height: 1.8em;
    line-height: 1;
    display: inline-flex;
    padding: 10px;
    white-space: pre-wrap;
}

.prompt.search-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    background-color: var(--palette-searchbar);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    z-index: 2;
    visibility: visible;
}

.prompt.search-modal::before {
    content: 'Search';
    font-size: 12px;
    color: var(--palette-searchbar-label);
    position: absolute;
    top: 5px;
    left: 10px;
}

.prompt.search-modal.valid-url {
    background-color: var(--palette-urlbar);
}

.prompt.search-modal.valid-url::before {
    color: var(--palette-urlbar-label);
    content: 'Open URL';
}

#cursor {
    display: inline-block;
    width: 2px; /* Ancho del cursor */
    margin-right: -1px;
    margin-left: -1px;
    height: 1em; /* Altura del cursor */
    background-color: var(--palette-foreground, black); /* Color del cursor */
    animation: blink 0.6s step-end infinite; /* Animación de parpadeo */
    vertical-align: bottom; /* Alineación vertical */
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

/* Capa de fondo para oscurecer y desenfocar */
#backgroundOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(16px);
    z-index: 1;
    visibility: hidden;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 25px;
}

.icono {
    margin: 10px;
    padding: 10px;
    border: 2px solid transparent !important;
    border-radius: 8px;
    text-decoration: none;
    color: var(--palette-foreground);
    display: flex;
    align-items: center;
    gap: 8px;
}

.separator {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 10pt;
    color: var(--palette-separator-label);
    width: 100%;
    margin: 5px 0;
}

.separator::before {
    content: '';
    flex: 1;
    height: 1px;
    background-color: var(--palette-separator-line);
    margin-right: 10px;
}

.separator::after {
    content: '';
    width: 25px;
    height: 1px;
    background-color: var(--palette-separator-line);
    margin-left: 10px;
}

/* no margins when empty */
.separator:empty::before,
.separator:empty::after {
    margin-left: 0;
    margin-right: 0;
}

.icono.focused {
    border-color: var(--palette-selector) !important;
}

.icono:visited {
    color: var(--palette-foreground)
}

.icono:focus {
    outline: none;
}

.icono:hover {
    background-color: var(--palette-hoverback);
}

.icono.discarded {
    color: var(--palette-dimmed);
}

.icono.discarded:hover {
    color: var(--palette-background);
}

.icono.discarded:visited {
    color: var(--palette-dimmed);
}

.icono.discarded:visited:hover {
    color: var(--palette-background);
}

#settingsIcon {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 10px;
    z-index: 1;
    color: var(--palette-dimmed);
    cursor: pointer;
    bottom: 5px;
    right: 5px;
    font-size: 20pt;
}

#settingsIcon:hover {
    color: var(--palette-foreground);
}

.edit-mode #settingsIcon {
    color: var(--palette-editmode);
}

.edit-mode #settingsIcon:hover {
    color: var(--palette-editmode-selected);
}

#versiontag {
    position: fixed;
    bottom: 0;
    left: 5px;
    padding: 10px;
    font-size: 8pt;
    color: var(--palette-dimmed);
}

html.edit-mode::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: calc(100vw);
    height: calc(100vh);
    border: 5px dashed var(--palette-editmode);
    z-index: 1000;
    pointer-events: none;
    box-sizing: border-box;
}

#editModal {
    position: fixed; /* Fijo, para que siempre esté centrado en la pantalla */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centramos el modal */
    width: 90%; /* Ocupa el 90% del ancho de la pantalla */
    max-width: 800px; /* Máximo ancho para pantallas grandes */
    background-color: var(--palette-dialog); /* Fondo del modal */
    color: var(--palette-foreground); /* Texto del modal */
    border: 1px solid var(--palette-separator-line); /* Borde */
    border-radius: 8px; /* Bordes redondeados */
    padding: 20px; /* Espaciado interno */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Sombra para resaltar */
    z-index: 1000; /* Aparece encima de otros elementos */
}

#editModal.hidden {
    visibility: hidden;
}

#editModal form {
    display: flex;
    flex-direction: column;
    gap: 20px; /* Espaciado entre las filas del formulario */
    align-items: flex-start; /* Alinea los elementos a la izquierda */
    width: 100%;
}

#editModal .form-group {
    display: flex;
    align-items: center;
    width: 100%;
}

#editModal label {
    font-family: monospace;
    font-size: 14pt;
    width: 20%; /* El label ocupa el 25% del ancho */
    text-align: right; /* Alineación a la derecha */
    margin-right: 15px; /* Espaciado entre el label y el input */
    color: var(--palette-foreground);
}

#editModal input {
    font-family: monospace;
    font-size: 14pt;
    flex: 1; /* El input ocupa el espacio restante */
    padding: 10px;
    border: 1px solid var(--palette-separator-line);
    border-radius: 5px;
    background-color: var(--palette-background);
    color: var(--palette-foreground);
}

#editModal input:focus {
    outline: 2px solid var(--palette-selector);
}

#editModal .form-buttons {
    display: flex;
    justify-content: flex-end; /* Alinea los botones al final */
    gap: 15px; /* Espaciado entre botones */
    width: 100%;
}

#editModal button {
    font-family: monospace;
    font-size: 14pt;
    padding: 8px 16px; /* Ajusta el espaciado interno */
    border: none;
    border-radius: 5px;
    background-color: var(--palette-searchbar);
    color: var(--palette-searchbar-label);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#editModal button:hover {
    background-color: var(--palette-selector);
    color: var(--palette-background);
}

/* Textos y menus de modo edicion */

.editElement {
    font-family: monospace;
    font-size: 14pt;
    color: var(--palette-editmode);
    background-color: rgba(0, 0, 0, 0.7); /* Fondo semitransparente */
    padding: 5px 10px;
    border-radius: 5px;
    position: fixed;
    z-index: 1000;
    visibility: hidden; /* Oculto por defecto */
}

.editElement.clickable {
    cursor: pointer;
}

.editElement:hover {
    color: var(--palette-editmode-selected);
}

.edit-mode .editElement {
    visibility: visible; /* Se muestra cuando está en modo edición */
}

#editModeHint {
    top: 15px;
    left: 15px;
    pointer-events: none;
}

/* Edit mode menus */
#downloadMenu {
    bottom: 60px;
    right: 15px;
    cursor: pointer;
}

#uploadMenu {
    bottom: 100px;
    right: 15px;
    cursor: pointer;
}